# 平安规模保费

将下载的平安规模保费数据合并到一起

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('data/pingan/201801_1.csv')

In [10]:
df1_2015 = pd.read_csv('data/pingan/201501_1.csv')

In [11]:
df1_2016 = pd.read_csv('data/pingan/201601_1.csv')

In [12]:
df1_2017 = pd.read_csv('data/pingan/201701_1.csv')

In [6]:
df2 = pd.read_csv('data/pingan/201801_2.csv')

In [7]:
df3 = pd.read_csv('data/pingan/201801_3.csv')

In [5]:
df1

          控股子公司名称  2018年1月累计规模保费（人民币万元）
0  中国平安财产保险股份有限公司               2742772
1  中国平安人寿保险股份有限公司              13931965
2    平安养老保险股份有限公司                192022
3    平安健康保险股份有限公司                 35231

In [8]:
df2

     业务分类  2018年1月累计规模保费（人民币万元）
0   寿险业务*                   NaN
1    个人寿险            13991683.0
2     新业务             3959876.0
3    续期业务            10031807.0
4    银行保险                   NaN
5     新业务                   NaN
6    续期业务                   NaN
7    团体保险              167535.0
8     新业务              167201.0
9    续期业务                 334.0
10     合计            14159218.0

In [9]:
df3

             业务分类  2018年1月累计规模保费（人民币万元）
0  中国平安财产保险股份有限公司                   NaN
1              车险             1903357.0
2         非机动车辆保险              748007.0
3          意外与健康险               91408.0
4              合计             2742772.0

In [13]:
df1_2015

          控股子公司名称  2015年1月累计规模保费（人民币万元）
0  中国平安财产保险股份有限公司               1880723
1  中国平安人寿保险股份有限公司               5601409
2    平安养老保险股份有限公司                107629
3    平安健康保险股份有限公司                  7725

In [14]:
df1_2016

          控股子公司名称  2016年1月累计规模保费（人民币万元）
0  中国平安财产保险股份有限公司               1991090
1  中国平安人寿保险股份有限公司               7752987
2    平安养老保险股份有限公司                150244
3    平安健康保险股份有限公司                  9901

In [15]:
df1_2017

          控股子公司名称  2017年1月累计规模保费（人民币万元）
0  中国平安财产保险股份有限公司               2371673
1  中国平安人寿保险股份有限公司              10574368
2    平安养老保险股份有限公司                133318
3    平安健康保险股份有限公司                 26029

# 各公司表格一致

由于为累计数据，各年度分开统计更好

In [25]:
#读取2017年度各月分公司累计保费
def get_year_data(year, num):
    filenames=[year+str(i).zfill(2)+'_'+num for i in range(1, 13)]
    filepath=['data/pingan/'+i+'.csv' for i in filenames]
    print(filepath)
    dfs=[pd.read_csv(i) for i in filepath]
    return filepath

In [27]:
get_year_data('2017','1')

['data/pingan/201701_1.csv', 'data/pingan/201702_1.csv', 'data/pingan/201703_1.csv', 'data/pingan/201704_1.csv', 'data/pingan/201705_1.csv', 'data/pingan/201706_1.csv', 'data/pingan/201707_1.csv', 'data/pingan/201708_1.csv', 'data/pingan/201709_1.csv', 'data/pingan/201710_1.csv', 'data/pingan/201711_1.csv', 'data/pingan/201712_1.csv']

['data/pingan/201701_1.csv',
 'data/pingan/201702_1.csv',
 'data/pingan/201703_1.csv',
 'data/pingan/201704_1.csv',
 'data/pingan/201705_1.csv',
 'data/pingan/201706_1.csv',
 'data/pingan/201707_1.csv',
 'data/pingan/201708_1.csv',
 'data/pingan/201709_1.csv',
 'data/pingan/201710_1.csv',
 'data/pingan/201711_1.csv',
 'data/pingan/201712_1.csv']

In [28]:
dfs=[pd.read_csv(i) for i in get_year_data('2017','1')]

['data/pingan/201701_1.csv', 'data/pingan/201702_1.csv', 'data/pingan/201703_1.csv', 'data/pingan/201704_1.csv', 'data/pingan/201705_1.csv', 'data/pingan/201706_1.csv', 'data/pingan/201707_1.csv', 'data/pingan/201708_1.csv', 'data/pingan/201709_1.csv', 'data/pingan/201710_1.csv', 'data/pingan/201711_1.csv', 'data/pingan/201712_1.csv']

In [29]:
dfs[0]

          控股子公司名称  2017年1月累计规模保费（人民币万元）
0  中国平安财产保险股份有限公司               2371673
1  中国平安人寿保险股份有限公司              10574368
2    平安养老保险股份有限公司                133318
3    平安健康保险股份有限公司                 26029